{% extends './base.html' %}
{% block pagetitle %} Test {% endblock %}
{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if student %}
<div class="row">
    <form action="{% url 'polls:info' student.id %}" method="post" class="col s12">
        {% csrf_token %}

        {% if student.group == 'G1' %}
        <p class="flow-text">You will have to answer 10 MCQs on the next page.</p>

        {% elif student.group == 'G2' %}
        <p class="flow-text">You will have to answer 6 MCQs and then create an MCQ on the next page.</p>

        {% elif student.group == 'G3' %}
        <p class="flow-text">You can either answer 10 MCQs or answer 6 MCQs and then create an MCQ on the next page.</p>

        <p>
            <label>
                <input type="radio" name="G3_choice" id="G3_choice_G4" value='G4' required>
                <span class="black-text">Answer 10 MCQs</span>
            </label>
        </p>

        <p>
            <label>
                <input type="radio" name="G3_choice" id="G3_choice_G5" value='G5' required>
                <span class="black-text">Answer 6 MCQs and create an MCQ</span>
            </label>
        </p>

        {% else %}
        <p>ERROR</p>
        {% endif %}

        <button class="btn waves-effect waves-light umblue" type="submit" name="action">
            Procees to quiz
        </button>
    </form>

    {% else %}
    <p>No information is available.</p>
    {% endif %}

</div>


{% endblock %}