<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if latest_question_list %}

<form action="{% url 'polls:submit' student.id %}" method="post">
    {% csrf_token %}
    {% for question in latest_question_list %}
    {{ question.question_text }}<br>
        {% for choice in question.choice_set.all %}
        <input type="radio" name="mcq_{{ question.id }}" id="{{ question.id }}choice{{ forloop.counter }}" value="{{ question.id }},{{ choice.id }}" required>
        <label for="{{ question.id }}choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    {% endfor %}

    <input type="submit" value="Vote">
</form>

{% else %}
<p>No quiz is available.</p>
{% endif %}

