{% extends './base.html' %}
{% load static %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if latest_question_list %}

    <div class="row">
        <p class="flow-text">
            Hello {{ student.name }}. Please answer the questions below.
        </p>
    </div>

    <div class="row">
        <form action="{% url 'polls:submit' student.id %}" method="post" class="col s12" id="main-quiz">
            {% csrf_token %}
            <div class="collection">
                <div id="questions-list" class="collection-item grey lighten-5">
                    {% include "polls/list_questions.html" with offset="0" %}
                </div>

                <div id="create-quiz-form" class="collection-item grey lighten-5">
                    {% if student.group == 'G2' or student.group == 'G5' %}
                        {% include "polls/create_mcq_form.html" %}
                    {% endif %}
                </div>
            </div>

            <div id="submit-quiz">
                {% if student.group != 'G3' %}
                    {% include "polls/submit-quiz-button.html" %}
                {% endif %}
            </div>
        </form>
    </div>

    {% if student.group == 'G3' %}
    <div class="row" id="G3-choice-div">
        <a class="waves-effect waves-light btn-large umblue col s4 offset-s1 m3 offset-m2 G3-choice" id="G3-answer"
            value="G4">Answer 4 more MCQs</a>
        <a class="waves-effect waves-light btn-large umblue col s4 offset-s2 m3 offset-m2 G3-choice" id="G3-create"
            value="G5">Create new MCQ</a>
    </div>
    {% endif %}

{% else %}
<p class="flow-text">No quiz is available.</p>
{% endif %}

{% endblock %}

{% block scripts %}
    {% if student.group == 'G3' %}
        <script src="{% static 'polls/group_3_form.js' %}"></script>
    {% endif %}
{% endblock %}