<div class="collection-item grey lighten-5">
    <p class="flow-text">Create MCQ.</p>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea log-text" id="student_question" name="student_question"
                required></textarea>
            <label for="student_question">Question</label>
            <span class="helper-text">Required</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea log-text" id="student_choice_1" name="student_choice_1"
                required></textarea>
            <label for="student_choice_1">Correct Choice</label>
            <span class="helper-text">Required</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea log-text" id="student_choice_2" name="student_choice_2"
                required></textarea>
            <label for="student_choice_2">Incorrect Choice 1</label>
            <span class="helper-text">Required</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea log-text" id="student_choice_3" name="student_choice_3"
                required></textarea>
            <label for="student_choice_3">Incorrect Choice 2</label>
            <span class="helper-text">Required</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea log-text" id="student_choice_4" name="student_choice_4"
                required></textarea>
            <label for="student_choice_4">Incorrect Choice 3</label>
            <span class="helper-text">Required</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea log-text" id="student_explanation" name="student_explanation"
                required></textarea>
            <label for="student_explanation">Explanation</label>
            <span class="helper-text">Required</span>
        </div>
    </div>
</div>