{% for question in latest_question_list %}

    <li>
        <div class="collapsible-header">Q{{ forloop.counter|add:offset }}</div>
        <div class="collapsible-body grey lighten-5">
            <span class="flow-text">{{ question.question_text }}</span>
            {% for choice in question.choice_set.all %}
            <p>
                <label>
                    <input type="radio" name="mcq_{{ question.id }}" id="{{ question.id }}choice{{ forloop.counter }}"
                        value="{{ question.id }},{{ choice.id }}" class="with-gap umblue" required>
                    <span class="black-text">{{ choice.choice_text }}</span>
                </label>
            </p>
            {% endfor %}
        </div>
    </li>

{% endfor %}


