{% extends '../base.html' %}
{% load static %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if latest_question_list %}

<h6 class="row">
    Hello {{ student.name }}!
</h6>
<p class="row">
    {% if student.group == 'G1' %}
    <span>
        Please answer the following multiple-choice questions (MCQs), indicating one correct
        response for each MCQ. Each MCQ is worth 1 point and no points will be deducted for
        incorrect responses. There are 10 MCQs in total.<br><br>
        You will have to answer all the questions to be able to submit the assignment. If you don't
        know the answer to a question, please select the option "I don't know the answer to this
        question" rather than making a random guess.
    </span>
    {% elif student.group == 'G2' %}
    <span>
        This assignment consists of 2 parts, with part 1 consisting of 6 Multiple Choice Questions
        (MCQs) and part 2 consisting of a question-generation problem. You will have to answer all
        the questions to be able to submit the assignment. <br><br>
        In part 1, please answer the MCQs by indicating one correct response for each MCQ. Each MCQ
        is worth 1 point. If you don't know the answer to a question, please select the option "I
        don't know the answer to this question" rather than making a random guess.

    </span>
    {% else %}
    <span>
        This assignment consists of 2 parts, with part 1 consisting of 6 Multiple Choice Questions
        (MCQs) and part 2 consisting of a choice between 4 more MCQs and a question-generation
        problem. You will have to answer all the questions to be able to submit the assignment. <br><br>
        In part 1, please answer the MCQs by indicating one correct response for each MCQ. Each MCQ
        is worth 1 point. If you don't know the answer to a question, please select the option "I
        don't know the answer to this question" rather than making a random guess.

    </span>
    {% endif %}
</p>

<form action="{% url 'polls:submit_quiz' student.id %}" method="post" class="row" id="main-quiz">
    {% csrf_token %}
    <ul class="collapsible" id="questions-list">

        {% include "polls/STAGE1/list_questions_individual.html" with offset="0" %}

        {% if student.group == 'G2' or student.group == 'G5' %}
        {% include "polls/STAGE1/create_mcq_form_wrapper.html" %}
        {% endif %}
    </ul>

    <div id="submit-quiz">
        {% if student.group != 'G3' %}
        {% include "polls/STAGE1/submit-quiz-button.html" %}
        {% endif %}
    </div>
</form>

{% if student.group == 'G3' %}
<div class="row G3-choice" id="G3-choice-div-text">
    <p class="col s12">
        This week you learnt about Pandas Series and Dataframes. Now, we want to give you the opportunity to use your
        newly acquired knowledge and make a useful contribution for future students, that can help them learn better!
        This activity would also encourage the development of your higher-order cognitive skills and lead to a deeper
        understanding of these concepts!<br>
        Thus, you have the opportunity to create an MCQ supported by an explanation of how to arrive at the correct
        answer. Alternatively, you can answer 4 more MCQs. If you consent, we would also like to include the created MCQ
        for future question banks or assessments.<br>
        <strong>Please note that you only have the option to make this choice once and after clicking on the activity of
            your choice, your decision would be final.</strong>
    </p>
</div>
<div class="row" id="G3-choice-div">
    <a class="waves-effect waves-light btn-large umblue col s4 offset-s1 m3 offset-m2 G3-choice" id="G3-answer"
        value="G4">Answer 4 more MCQs</a>
    <a class="waves-effect waves-light btn-large umblue col s4 offset-s2 m3 offset-m2 G3-choice" id="G3-create"
        value="G5">Create new MCQ</a>
</div>
{% endif %}

{% else %}
<p class="flow-text">No quiz is available.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'polls/collapsible_questions.js' %}"></script>
{% if student.group == 'G3' %}
<script src="{% static 'polls/group_3_form.js' %}"></script>
{% endif %}
{% endblock %}