.umblue {
    background-color: #00274C !important;
    color: white !important;
}

.ummaize {
    background-color: #FFCB05 !important;
    color: #00274C !important;
}

#um-logo {
    height: 100%;
    padding: 2.5%;
}